{% extends 'base.html' %} {% block title %} 401 Ups!!! {% endblock %} {% block
content %}

<!--  -->

<div class="container" style="display: flex;
justify-content: center;">
  <div class="">
    <img
      src="https://images.unsplash.com/photo-1580163661417-3606299aba72?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=731&q=80"
      class=""
      alt="..."
    />
    <div class="card-body" style="display: flex;
    justify-content: center;">
      <h5 class="display-6">The 401 Out!!!</h5>
    </div>
  </div>
</div>

{% endblock %}
