{% extends 'base.html' %} {% block title %} 404 Ups!!! {% endblock %} {% block
content %}

<!--  -->

<div class="container" style="display: flex;
justify-content: center;">
  <div class="">
    <img
      src="https://images.unsplash.com/photo-1532003885409-ed84d334f6cc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
      class=""
      alt="..."
    />
    <div class="card-body" style="display: flex;
    justify-content: center;">
      <h5 class="display-6">The 404 House!!!</h5>
    </div>
  </div>
</div>

{% endblock %}
