{% extends 'base.html' %} {% block content %} {% include 'form_.html' %}
<div class="main container">
  <h5 class="card-title text-success mb-2">{{ user.fullname }} - Feedbacks</h5>
  <div class="feedback_holder">
    {% for f in user.feedbacks %}
    <div class="card m-1" style="width: 18rem">
      <img src="{{ f.imagen_url }}" class="card-img-top" alt="..." />
      <div class="card-body">
        <h6 class="card-title text-success">{{ f.title }}</h6>
        <p class="card-text text-dark">{{ f.content }}</p>
        <a href="#" class="btn btn-sm btn-secondary mb-4">Edit</a>
        <a href="#" class="btn btn-sm btn-danger mb-4">Delete</a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
