{% extends 'base.html' %} {% block title %} {{ user.fullname }} - Details {%
endblock %} {% block content %} {% include 'form_.html' %}
<div class="main container">
  <h5 class="card-title text-success mb-2">{{ user.fullname }}</h5>
  <h5 class="card-title text-success mb-2">{{ user.email }}</h5>
  <form action="/users/{{ user.username }}/delete" method="POST">
    <button class="btn btn-sm btn-outline-danger">Cancel Account</button>
  </form>
  <br />
  <a
    class="btn btn-success mb-3 mt-5"
    href="/users/{{ user.username }}/feedback/add"
    >Add Feedback</a
  >
  <h5 class="card-title text-success mb-2">Feedbacks</h5>
  <div class="feedback_holder">
    {% for f in user.feedbacks %}
    <div class="card m-1" style="width: 18rem">
      <img src="{{ f.imagen_url }}" class="card-img-top" alt="..." />
      <div class="card-body">
        <h6 class="card-title text-success">{{ f.title }}</h6>
        <p class="card-text text-dark">{{ f.content }}</p>
        <div style="display: flex">
          <a
            href="/feedback/{{ f.id }}/update"
            class="btn btn-sm btn-secondary mb-4"
            >Edit</a
          >
          <form action="/feedback/{{ f.id }}/delete" method="POST">
            <button class="btn btn-sm btn-danger mb-4">Delete</button>
          </form>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<div class="container">
  {% if user.is_admin %}
  <h1>User List</h1>
  {% endif %}
  <div>
    {% for u in users %}
    <div class="card w-50">
      <div class="card-body">
        <h5 class="card-title">
          Full Name: <span class="text-info">{{ u.fullname }}</span>
        </h5>
        <h5 class="card-title">
          User Name: <span class="text-info">{{ u.username }}</span>
        </h5>
        <form action="/users/{{ u.username }}/delete" method="POST">
          <button class="btn btn-sm btn-outline-danger">Cancel Account</button>
        </form>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<div class="container">
  {% if user.is_admin %}
  <h1>Feedbacks List</h1>
  {% endif %}
  <div>
    {% for f in feedbacks %}
    <div class="card w-50">
      <div class="card-body">
        <h5 class="card-title">Title: {{ f.title }}</h5>
        <h5 class="card-title">Owner: {{ f.user.fullname }}</h5>
        <p class="card-text">Content: {{ f.content }}</p>
        <form action="/feedback/{{ f.id }}/delete" method="POST">
          <button class="btn btn-sm btn-danger mb-4">Delete</button>
        </form>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
